.job-chaser-logo {
    width: 90px;
    height: 90px;
    fill: #ff0000; /* Ändra färgen här */
}

.job-chaser-logo .logo-group path {
    fill: #0f4c75; /* Byt ut 'red' mot den önskade färgkoden */
}
